@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600;700;800&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-size: 16px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.btn{
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 10000;
    position: sticky;
    top: 0;
    left: 0;
}

.header .logo{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #dd08d2;
}

.header .logo #logo-icon{
    color: rgb(11, 157, 45);
    font-size: 35px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active{
    color: rgb(11, 157, 45);
    cursor: pointer;
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(11, 157, 45);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile{
    display: none;
}

#close{
    display: none;
}

.home-content{
    background-image: url("img/home.avif");
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home-content h2{
    padding-bottom: 15px;
    color: #dd08d2;
}

.home-content h4{
    color: rgb(11, 157, 45);
}

.home-content .btn{
    background: #1a1a1a;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0.5rem;
}

.home-content .btn:hover{
    background: #a0aeed;
    letter-spacing: 0.1rem;
}

.home-content .botton{
    color:  rgb(11, 157, 45);
    text-decoration: none;
}

.section-p1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-p1 .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid#cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

.section-p1 .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.section-p1 .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

.section-p1 #fe-1 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(250, 98, 123);
    background: #eac5e6;
}

.section-p1 #fe-2 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(27, 24, 25);
    background: #d1ccd0;
}

.section-p1 #fe-3 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(26, 156, 106);
    background: #bddfcc;
}

.section-p1 #fe-4 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(110, 38, 192);
    background: #d2aaf1;
}

.section-p1 #fe-5 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(250, 98, 123);
    background: #eac5e6;
}

.section-p1 #fe-6 h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(23, 16, 17);
    background: #9c979c;
}

.product{
    text-align: center;
}

.product .pro-container{
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px;
    transition: 0.2s ease;
    position: relative;
}

.product .pro:hover{
    box-shadow: 20px 20px 30px rgba(89, 47, 47, 0.06);
}

.product .pro img{
    width: 100%;
}

.product .pro .pro-content{
    text-align: start;
    padding: 10px 0;
}

.product .pro .pro-content span{
    font-size: 20px;
    font-weight: 700;
}

.product .pro .pro-content .starts i{
    font-size: 12px;
    color: #e8de21;
}

.product .pro .pro-content h4{
    padding-top: 7px;
    font-size: 18px;
    font-weight: 600;
    color:  rgb(11, 157, 45);
}

.product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color:  rgb(11, 157, 45);
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.banner{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/img1.avif);
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-position: center;
}

.banner h4{
    color: #fff;
    font-size: 20px;
}

.banner h4 span{
    color: #dd08d2;
}

.banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

.banner h2 span{
    color: rgb(26, 156, 106);
}

.banner .btn a{
    color: #000;
    text-decoration: none;
}

.banner .btn:hover{
    background: rgb(74, 208, 74);
    letter-spacing: 0.1rem;
}

.sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sm-banner #b1,
.sm-banner #b2{
    margin: 40px 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background-image: url(img/banner/img2.avif);
    background-size: cover;
    min-width: 660px;
    height: 50vh;
    background-position: center;
}


.sm-banner .banner-box h4{
    font-size: 20px;
    color: #dd08d2;
}

.sm-banner .banner-box h2{
    font-size: 35px;
}

.sm-banner .banner-box span{
    color: rgb(26, 156, 106);
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 20px;
}

.sm-banner .btn{
   margin-top: 10px 0;
}

.sm-banner .banner-box:hover .btn{
    background: rgb(74, 208, 74);
    letter-spacing: 0.1rem;
}

.sm-banner .btn a{
    color: #000;
    text-decoration: none;
}

.sm-banner #b2{
    background-image: url(img/banner/img3.avif);
}

.sm-banner1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

.sm-banner1 .banner-box{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    text-transform: capitalize;
    background-image: url(img/banner/img4.avif);
    background-size: cover;
    min-width: 30%;
    height: 30vh;
    background-position: center;
    padding: 20px;
}

.sm-banner1 #banner2{
    background-image: url(img/banner/img5.avif);
}

.sm-banner1 #banner3{
    background-image: url(img/banner/img66.avif);
}

.sm-banner1 #banner1 h2{
    color: #465b52;
    font-weight: 900;
    font-size: 22px;
}

.sm-banner1 #banner1 .rose{
    color: palevioletred;
    font-weight: 800;
    font-size: 18px;
}

.sm-banner1 #banner1 .sun{
    color: rgb(178, 178, 5);
    font-weight: 800;
    font-size: 18px;
}

.sm-banner1 #banner2 h2{
    font-size: 22px
}

.sm-banner1 #banner3 a i{
   color: rgb(26, 156, 106);
   font-size: 30px;
}

.sm-banner1 #banner3 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #dd08d2;
}

.sm-banner1 #banner3 h2{
    font-size: 30px;
}

.signup{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #030f42;
    background-repeat: no-repeat;
    background-position: 20% 30%;

}

.signup .newstext{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.signup .newstext h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.signup .newstext p{
    font-size: 16px;
    font-weight: 600;
    color: #65907d;
}

.signup .newstext p span{
    color: #ffbd27;
}

.signup .form{
    display: flex;
    width: 40%;
    margin-right: 15px;
    margin-bottom: 10px;
}

.signup .form input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.signup .form .btn{
    background: rgb(26, 156, 106);
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.signup .form .btn a{
    text-decoration: none;
    color: #000;
}

footer{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

footer .col,
footer .col1,
footer .my-account{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}   

footer .col a i{
    color:  rgb(26, 156, 106);
    font-size: 30px;
}

footer .col a{
    color: #dd08d2;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

footer .col h4{
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .col p{
    margin: 0 0 8px 0;
}

footer .follow .icon i{
    margin-right: 8px;
    font-size: 20px;
}

footer .follow .icon i:hover{
    color: rgb(26, 156, 106);
    cursor: pointer;
}

footer .app .row i{
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 20px;
}

footer .app .pay i{
    margin-top: 20px;
    font-size: 20px;
    margin-right: 10px;
}

footer .col1 .h2{
    margin-bottom: 15px;
}

footer .col1 a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #465b52;
    font-weight: 600;
    margin: 0 0 8px 0;
}

footer .col1 a:hover{
    color:  rgb(26, 156, 106);
}

footer .my-account .h2{
    margin-bottom: 15px;
}

footer .my-account a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #465b52;
    font-weight: 600;
    margin: 0 0 15px 0;
}

footer .my-account a:hover{
    color:  rgb(26, 156, 106);
}

.copyright p{
    text-align: center;
}


/*Shop Page*/
.shop-content{
    background-image: url(img/shop.avif);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.shop-content h2,
.shop-content p{
    color: #fff;
}

#pageination{
   margin: 50px 80px;
   text-align: center;
}

#pageination a{
    text-decoration: none;
    font-size: 20px;
    background-color:  rgb(26, 156, 106);
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pageination a i{
    font-size: 16px;
    font-weight: 600;
}

/*Single Flower*/

.deatials{
    margin: 60px 60px 50px 60px;
    display: flex;
}
    
.deatials .pro-image{
    width: 60%;
    margin-right: 130px;
}

.deatials .pro-image #main-img{
    border: 4px solid  rgb(26, 156, 106);
    border-radius: 5px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5px;
}

.small-img-col p{
    text-align: center;
    color: #030f42;
}


.deatials .pro-deatials{
    width: 70%;
    padding-top: 30px;
}

.deatials .pro-deatials h4{
    padding: 40px 0 20px 0;
}

.deatials .pro-deatials h2{
    font-size: 30px;
}

.deatials .pro-deatials select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.deatials .pro-deatials input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 10px;
}

.deatials .pro-deatials input{
    outline: none;
}

.deatials .pro-deatials .btn{
    background:  rgb(26, 156, 106);
}

.deatials .pro-deatials .btn a{
    color: #000;
    text-decoration: none;
}

.deatials .pro-deatials p{
    line-height: 1.5;
}

/*About Page*/

.about-content{
    background-image: url(img/about.avif);
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.intro{
    margin: 60px 40px;
    display: flex;
    align-items: center;
}

.intro img{
    width: 50%;
    height: auto;
}

.intro .intro-content{
    padding-left: 40px;
}

.intro .intro-content p{
    line-height: 2;
    font-size: 17px;
    text-align: justify;
}

.intro .intro-content p span{
    color: #dd08d2;
    font-weight: 600;
}

.miss{
    margin: 0 100px 60px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.miss .mission,
.miss .vision{
    border: 5px solid seagreen;
    border-radius: 10px;
    padding-right:30px;
    width: 48%
}

.miss .mission .mission-content h2,
.miss .vision .vision-content h2{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.miss .mission .mission-content h4,
.miss .vision .vision-content h4{
    padding-left: 30px;
    padding-bottom: 20px;
    color: #465b52;
    text-align: justify;
    line-height: 1.8;
}

.banner1{
    background-image: url(img/about2.avif);
    background-size: cover;
    height: 20vh;
    margin-bottom: 50px;
}

.banner1 p{
    padding: 40px 60px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #fff;
    text-align: center;
}





@media (max-width:1102px){

    /*About Page*/
    
    .intro{
        display: flex;
        flex-direction: column;
    }

    .intro img{
        width: 100%;
        margin-bottom: 20px;
    }

    .intro .intro-content{
        padding-left: 0px;
    }

    .banner1{
        height: 30vh;
    }
}

@media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    .navbar.active{
        right: 0px;
    }

    .navbar li{
        margin-bottom: 25px;
    }

    .mobile{
        display: flex;
        align-items: center;
    }

    .mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    .lg-bag{
        display: none;
    }

    .home-content{
        height: 80vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #features{
        justify-content: center;
    }

    #features .fe-box{
        margin: 15px 15px;
    }

    .product .pro-container{
        justify-content: center;
    }

    .product .pro{
        margin: 15px;
    }

    .banner{
        height: 35vh;
    }

    .sm-banner .banner-box{
        width: 100%;
        height: 30vh;
    }

   .sm-banner1 #banner1,
   .sm-banner1 #banner2,
   .sm-banner1 #banner3{
        width: 100%;
    }

    .signup .form{
        width: 70%;
    }

    .footer .col-install{
        margin-top: 30px;
    }

    /*Single Flower*/

    .deatials{
        display: flex;
        flex-direction: column;
    }

    .deatials .pro-image{
        width: 100%;
        margin-right: 0px;
    }

    .deatials .pro-deatials{
        width: 100%;
    }

    /*About Page*/

    .intro{
        display: flex;
        flex-direction: column;
    }

    .intro img{
        width: 100%;
        margin-bottom: 20px;
    }

    .intro .intro-content{
        padding-left: 0px;
    }

    .banner1{
        height: 35vh;
    }

    .banner1 p{
        font-size: 16px;
    }

    .miss{
        flex-direction: column;
        margin: 0 20px;
    }

    .miss .mission{
        width: 100%;
        margin-bottom: 30px 
    }

    .miss .vision{
        width: 100%;
    }

}

@media (max-width: 470px){
    .section-p1{
        padding: 20px;
    }

    .header{
        padding: 10px 30px;
    }

    .home-content{
        padding: 0 20px;
        background-position: 55%;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }

    #features{
        justify-content: space-between;
    }

    #features .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }

    .product .pro{
        width: 100%;
    }

    .signup{
        padding: 40px 20px;
    }

    .signup .form{
        width: 100%;
    }

    .about-content{
       background-position: 55%;
    }

}